@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Special+Elite&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: antiquewhite;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Quicksand", serif;
  font-weight: 200;
}

nav ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 2rem;
  padding: 20px 20px 0px 20px;
  color: black;
}
a:hover {
  font-weight: 400;
}
a:active {
  font-weight: 400;
}
.a-content:hover {
  border-bottom: 1.5px solid black;
  transition: ease-in;
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  margin-right: 20px;
  font-weight: 500;
  border: 2px solid black;
}
.btn:hover {
  background-color: blue;
  color: white;
  font-weight: 800;
}
.btn:active {
  background-color: blue;
  color: white;
}
.fa-download {
  margin-right: 5px;
}
.fa-instagram {
  margin-right: -20px;
}
.fa-github {
  margin-left: -20px;
}
.fa-instagram:hover {
  color: #d62976;
  font-size: larger;
}
.fa-linkedin:hover {
  color: blue;
  font-size: larger;
}
.fa-github:hover {
  font-size: larger;
}

/* Herp SEction */
.container {
  background-color: royalblue;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}
.my-self {
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}
.my-self h1 {
  color: wheat;
  font-family: "Quicksand", serif;
  font-weight: 800;
}
.my-self h2 {
  margin-top: 30px;
  font-family: "Quicksand", serif;
  font-weight: 600;
}
hr {
  margin-top: 5px;
}
.my-self p {
  margin-top: 20px;
  font-size: 1rem;
  font-family: "Quicksand", serif;
  font-weight: 500;
  text-transform: capitalize;
}

.buttons button {
  margin-top: 40px;
  padding: 5px 14px;
  border-radius: 17px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  background-color: dodgerblue;
  color: white;
  font-weight: 300;
}
.fa-phone {
  margin-right: 5px;
}
.buttons :hover {
  background-color: white;
  color: dodgerblue;
  font-weight: 500;
  cursor: pointer;
}
.img img {
  height: 80vh;
  width: 60vh;
  margin: 20px 0px;
  filter: drop-shadow(10px 10px 5px #2f2f2f) blur(1.5px);
  background-color: rgb(252, 252, 252);
  border-radius: 100%;
}
.img img:hover {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.9)) blur(0px);
}

/* about me section */
.main-section {
  display: flex;
}
.section-img {
  height: 100vh;
  width: 45vw;
}
.about-section {
  display: flex;
  flex-direction: column;
  width: 55vw;
  /* height: 100vh; */
}
.details-section-1 {
  background-color: aliceblue;
  font-size: 1rem;
  padding: 20px 30px;
  margin: 5px 10px;
  font-family: "Quciksand", serif;
  border-radius: 15px;
  border: 2px solid black;
}
.summary-section-1 {
  font-size: larger;
  font-weight: 800;
  font-family: "Quicksand", serif;
  cursor: pointer;
}
.line {
  margin-top: 5px;
  height: 1px;
  background-color: #2f2f2f;
}
.detailed-summary-1 {
  font-family: "Quicksand", serif;
  font-weight: 450;
  margin-top: 5px;
  font-size: 1.2rem;
}
li {
  list-style: none;
}

/* Skills */
.skills-container {
  display: flex;
  flex-direction: column;
}
.skills-intro {
  width: 100%;
  height: 10vh;
  align-content: center;
  justify-items: center;
  background-color: #d62976;
  font-family: "Quciksand",sans-serif;
}
.skills-section {
  height: 40vh;
  width: 100%;
}


